/* style.css에 css 한번에 몰아서 import해놈
 => html에 style.css만 주입하면됨!*/
@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

:root {
  --button-primary: rgb(254, 111, 15);
  --button-hover: rgba(254, 111, 15, 0.8);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* view width : 우리가 보이는 너비 100%*/
  height: 100vh; /* view height : 우리가 보이는 높이 100%*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}
/*  */
@media screen and (max-width: 500px) {
  .media-info-msg {
    display: none;
    opacity: 0;
  }
}
